/*
Error: Invalid CSS after "<": expected "{", was "!doctype html>"
        on line 1 of /Applications/MAMP/htdocs/GameOfLife/atyle.scss

1: <!doctype html>
2: <html>
3: <head>
4: <meta charset="UTF-8">
5: <title>Untitled Document</title>
6: </head>

Backtrace:
/Applications/MAMP/htdocs/GameOfLife/atyle.scss:1
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:637:in `block'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:420:in `run'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/bin/sass:30:in `load'
/Applications/Adobe Dreamweaver CC (2017 Beta)/Dreamweaver Beta.app/Contents/Resources/gems/bin/sass:30:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"<\": expected \"{\", was \"!doctype html>\"\A         on line 1 of /Applications/MAMP/htdocs/GameOfLife/atyle.scss\A \A 1: <!doctype html>\A 2: <html>\A 3: <head>\A 4: <meta charset=\"UTF-8\">\A 5: <title>Untitled Document</title>\A 6: </head>"; }
