/* CSS Document */
// JavaScript Document
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic);





body {
	font-family: Roboto, sans-serif;
	//background-color:  hsla(189,16%,76%,1.00);
	 background: radial-gradient(darkred 25%, black 95%);
	row {
		
		row#mountNode {
			
				div#tableBox {
			
					background: linear-gradient(to bottom,#e8e8e8 0,black 100%);
					margin-top: 2%;
					padding-top: 10px;
					
					div#Header {
							margin-bottom: 5px;
							h1#Title {
								text-align: center;
								margin: 0px;
								//padding: 0px;
								
								}
						
							form {
									
								div {
									label{
										text-align: right;
										font-size: 25px;
										margin-right: -25px
										}
									
									div{
										input {
											color: red;
											background-color: black;
											font-size: 30px;
											 height: 44px;
											text-align: center;
											font-family: 'Segment7Standard';
										
												 
										}
									}
								}
								
							}
					}
					
					table.table { 
						background-color: hsla(0,0,0,1.00);
						border: 5px outset lightgray!important;
						-webkit-box-shadow: 5px 5px hsla(0,0%,23%,1.00);
						box-shadow: 5px 5px hsla(0,0%,23%,1.00);
						
						tbody {
							
							
							tr{
									 height: 13px !important;  

								td{
									color: transparent;
									text-align: center;
									border: 0.2px solid hsla(0,0%,22%,1.00)  !important;
									font-size: 10px;
									width: 13px !important;
									padding: 0px;
									
									
								}
								
								td.liveAge1 {
										
										background-color: #FFBDBA;
									}
								td.liveAge2 {
										
										background-color: #F54D41;
									}
								td.liveAge3 {
										
										background-color: red;
									}
								td.notLive {
										
										background-color: black;
									}
							}
						}

					}
				}
		}
	}
	
	
		
}
	
	
	

	
			

	





